@model List<DonHang>
@{
    ViewData["Title"] = "DonHangDaNhan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="/css/CuaHang/Create.css">

<div class="hero-wrap hero-bread" style="background-image: url('/img/zyro-image\ \(11\).png');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span>Dự án</span></p>
                <h1 class="mb-0 bread">Thành phố xanh</h1>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-10 text-center" style="margin-top: 30px">
        <ul class="product-category">
            <li><a asp-action="DH_ChoDuyet" asp-controller="GioHang" >Đơn hàng đang chờ duyệt</a></li>
            <li><a asp-action="DH_DangGiao" asp-controller="GioHang">Đơn hàng đang giao</a></li>
            <li><a asp-action="DH_DaNhan" asp-controller="GioHang" class="active">Đơn hàng đã nhận</a></li>
        </ul>
    </div>
</div>

<div style="width: 90%;
            margin: 2rem auto;
            padding: 20px 0px;
            background: #fff;">
    <div class="main__tieude">
        <p class="tieu__de">Danh sách đơn hàng đã nhận</p>
    </div>

    <table class="table">
        <thead style="background-color: #18588d; color: white;">
            <tr>
                <th>
                    STT
                </th>
                <th>
                    Số điện thoại
                </th>
                <th>
                    Địa chỉ
                </th>
                <th>
                    Thời gian nhận hàng
                </th>
                <th>
                    Tổng tiền
                </th>
                <th>

                </th>
            </tr>
        </thead>
        @{
            int dem = 0;
            @foreach (var item in Model)
            {
                dem++;
                <tbody>
                    <tr style="color: black;">
                        <td>
                            @dem
                        </td>
                        <td>
                            @item.ThongTin_NhanHangs.SoDT
                        </td>
                        <td>
                            @item.ThongTin_NhanHangs.DiaChi
                        </td>
                        <td>
                            @item.ThoiGianTaoDon.ToString("dd/MM/yyyy HH:mm")
                        </td>
                        <td>
                            @((item.DonHang_ChiTiets.Sum(x => x.SanPham.Gia * x.SoLuong) + 20)?.ToString("C3"))
                        </td>
                        <td>
                            <a asp-action="CT_DH_DaNhan" asp-controller="GioHang"><i class="fa-solid fa-list" style="color: #da4112 !important; font-size:20px; margin-left: 10px"></i></a>
                        </td>
                    </tr>
                </tbody>
            }
        }
    </table>
</div>

