
@{
    ViewData["Title"] = "DonHangDaGiao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="/css/CuaHang/Create.css">
<div class="row justify-content-center" style="margin-top: 7rem;">
    <div class="col-md-10 text-center" style="margin-top: 30px">
        <ul class="product-category">
            <li><a asp-action="Index" asp-controller="DonHang">Đơn hàng đang chờ duyệt</a></li>
            <li><a asp-action="DonHangDangGiao" asp-controller="DonHang">Đơn hàng đang giao</a></li>
            <li><a asp-action="DonHangDaGiao" asp-controller="DonHang" class="active">Lịch sử giao hàng</a></li>
        </ul>
    </div>
</div>
<div style="width: 100%;
            margin: 20px auto;
            padding: 20px 0px;
            background: #fff;">
    <div class="main__tieude">
        <p class="tieu__de">Danh sách đơn hàng đã giao</p>
        <div class="main__tim--kiem">
            <input type="text" placeholder="Tìm kiếm" class="ipt__tim--kiem" />
            <button class="btn__tim--kiem"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </div>

    <table class="table">
        <thead style="background-color: #1C65A1; color: white;">
            <tr>
                <th>
                    Tên cửa hàng
                </th>
                <th>
                    Số điện thoại
                    cửa hàng
                </th>
                <th>
                    Địa chỉ giao hàng
                </th>
                <th>
                    Số điện thoại khách hàng
                </th>
                <th>
                    Ghi chú
                </th>
                <th>
                    Tổng tiền
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            <tr style="color: black;">
                <td>
                    Lưu niệm Holo
                </td>
                <td>
                    1234567890
                </td>
                <td>
                    12 Phan chu trinh, TP Buôn Ma thuật
                </td>
                <td>
                    1234567890
                </td>
                <td>
                    Giao trước 10h cho em nha!
                </td>
                <td>
                    140.000 đ
                </td>
                <td>
                    <a asp-action="ChiTietDonHangDaGiao" asp-controller="DonHang"><i class="fa-solid fa-list" style="color: #1C65A1 !important; font-size:20px; margin-left: 10px"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>


