@model Aram.Models.CuaHang



<link rel="stylesheet" href="/css/CuaHang/Create.css">



<div class="row_aram">
    <div class="col-md-4">
        <span style="font-size: 20px;">Thêm thông tin cửa hàng</span>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Tên cửa hàng</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Số điện thoại</label>
                <input asp-for="SoDT" class="form-control" />
                <span asp-validation-for="SoDT" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label class="control-label">Địa chỉ</label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Link map</label>
                <input asp-for="LinkMap" class="form-control" />
                <span asp-validation-for="LinkMap" class="text-danger"></span>
            </div>

            <div class="form-group--btn">
                <input type="submit" value="Tạo" class="btn__them" />
                <div>
                    <a asp-action="Index" type="button" class="btn__them">Quay lại</a>
                </div>
            </div>
        </form>
    </div>
</div>


