@model Aram.Models.CuaHang

<link rel="stylesheet" href="/css/CuaHang/Create.css">
<div class="row_aram">
    <div class="col-md-4">
        <span style="font-size: 20px; color: #dc6363; font-weight: 500;">Bạn có muốn xoá thông tin cửa hàng này không?</span>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">Tên cửa hàng</label>
                <input asp-for="Ten" class="form-control" disabled />
                <span asp-validation-for="Ten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Số điện thoại</label>
                <input asp-for="SoDT" class="form-control" disabled />
                <span asp-validation-for="SoDT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Địa chỉ</label>
                <input asp-for="DiaChi" class="form-control" disabled />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label lass="control-label">Link map</label>
                <input asp-for="LinkMap" class="form-control" disabled />
                <span asp-validation-for="LinkMap" class="text-danger"></span>
            </div>
        <form asp-action="Delete">
            <div class="form-group--btn">
                <input type="submit" value="Xoá" class="btn__them" />
                <a asp-action="Index" class="btn__them">Quay lại</a>
            </div>
        </form>
    </div>
</div>

<div>
</div>
