@model Aram.Models.SanPham

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SanPham</h4>
<hr />
<div class="row">
    
    <div class="col-md-4" style="margin: 0 auto">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ten" class="control-label">Tên</label>
                <input asp-for="Ten" class="form-control" />
                <span asp-validation-for="Ten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gia" class="control-label">Giá</label>
                <input asp-for="Gia" class="form-control" />
                <span asp-validation-for="Gia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PicData" class="control-label">Hình ảnh</label>
                <input asp-for="PicData" type="file" multiple class="form-control" name="imageSP"/>
                <span asp-validation-for="PicData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoaiSPId" class="control-label">Loại sản phẩm</label>
                <select asp-for="LoaiSPId" class="form-control" asp-items="ViewBag.LoaiSPId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@ViewBag.chID">Back to List</a>
</div>
