
@{
    ViewData["Title"] = "FormInput";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card mb-4 p-5">
    <h4 class="fw-bold py-3 mb-4"><a href="" class="text-muted fw-light">Danh sách sản phẩm của "Cửa hàng lưu niệm Tây Nguyên" <i class="fa-solid fa-chevron-right" style="font-size:18px;"></i> </a>Thêm thông tin sản phẩm</h4>
    <form class="row g-3">
        <div class="col-md-6">
            <label for="validationServer03" class="form-label">Tên sản phẩm</label>
            <input type="text" class="form-control">
            <div style="color: #da1616;">
            </div>
        </div>
        <div class="col-md-6">
            <label for="validationServer05" class="form-label">Đơn giá</label>
            <input type="number" class="form-control">
            <div style="color: #da1616;">
            </div>
        </div>
        <div class="col-md-6">
            <label for="validationServer05" class="form-label">Thêm hình ảnh</label>
            <input type="file" class="form-control" onchange="displayImage(this)">
            <div style="color: #da1616;">
            </div>
        </div>
        <div class="col-md-6">
            <label for="validationServer03" class="form-label">Loại sản phẩm</label>
            <select class="form-control">
                <option value="1">Hoạ tiết vải thổ cẩm</option>
                <option value="2">Trang sức</option>
                <option value="3">Trang trí</option>
            </select>
            <div style="color: #da1616;">
            </div>
        </div>
        <div class="col-md-6">
            <img id="myImage" src="#" class="form-control" style="height:10rem; object-fit:cover;">
        </div>
        <div class="col-12">
            <button class="btn btn-outline-warning" type="submit">Sản phẩm</button>
        </div>

    </form>
</div>
<script>
    function displayImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                document.getElementById('myImage').src = e.target.result;
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

